/ExceptionsAren'tAlwaysErrors/nbproject/private/
/ExceptionsAren'tAlwaysErrors/build/
/ThrowingExceptions/nbproject/private/
/ThrowingExceptions/build/
/Week2/PlacingExceptionHandlers/nbproject/private/
/Week2/PlacingExceptionHandlers/build/
/Week2/ThrowingExceptions/CopyingAFile/nbproject/private/
/Week2/CopyingAFile/nbproject/private/
/Week2/CopyingAFile/build/
/Week2/ReadingFromAndWritingToTextFiles/nbproject/private/
/Week2/EnhancingAMovableCircle/nbproject/private/
/Week2/EnhancingAMovableCircle/build/
/Week2/ACurrencyConverter/nbproject/private/
/Week2/ACurrencyConverter/build/
/Week2/AListOfPrimeNumbers/nbproject/private/
/Week2/AListOfPrimeNumbers/build/